.card{
    width: 500px;
    padding: 50px;
    padding-bottom: 20px;
}

body{
    padding-top: 3%;
    padding-left: 33%;
    font-family: 'Righteous', cursive;
}

form{
    padding: 50px;
    padding-bottom: 5px;    
}

div .logo{
    text-align: center;
    padding:10px;
    position: absolute;
    top: 10px;
    left:120px;
    color: #ff4d4d;
}

.logo i{
    font-size: 60px;
    color: #0828dd;
}

.logo span{
    font-size: 40px;
    color: #0828dd;
    font-family: 'Carter One', cursive;
    margin: 10px;
}

form span{
    position: relative;
    left: 70px;
}